    <h1>All Tasks</h1>
    <div class="list-group">
      <% @tasks.each do |task| %>
        <p class="list-group-item"><%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a></p>
      <% end %>
    </div>
